/* HomePage Best Selling Products */

p.item_price {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 750;
  }

p.item_weight {
    color: white;
    font-family: 'Lato', sans-serif
}

p.item_name {
    color: white;
    font-family: 'Lato', sans-serif
    font-size: 24em;
}